.container {
    display: flex;
    font-size: 25px;
    width: 30vw;
}

.isGood {
    color: rgb(21, 92, 21);
}

.number {
    
    width: 5vw;
    padding: 0 15px 0 0;
}

.text {
    margin: 0 0 0 15px;
}