.table {
    border: 5px #9FBF3D solid;
}

.close {
    padding: 0;
    width: 20px;
    height: 20px;
    background-color: green;
    cursor: pointer;
    border-radius: 50%;
}
.close:hover {
    opacity: 0.8;
}

.close:active {
    opacity: 1;
}

.hoverRed:hover {
    background: red;
    opacity: 0.6;
    border-radius: 50%;
    cursor: pointer;
    user-select: none;
}

.hoverRed:active {
    opacity: 0.8;
}