.question {
    display: flex;
    border: 3px rgb(191, 102, 61) solid;
    padding: 2px 3px;
    margin: 4px 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.button {
    margin: 1px 3px;
}

.result {
    border: 6px rgb(27, 180, 22) solid;
    margin: 5px 10px;
    font-size: 30px;
    text-align: center;
    width: 15vw;
}