.close {
    padding: 0;
    width: 20px;
    height: 20px;
    background-color: green;
    cursor: pointer;
    border-radius: 50%;
}
.close:hover {
    opacity: 0.8;
}

.close:active {
    opacity: 1;
}