.button {
    background: rgb(27, 152, 201);
    width: 10vw;
    height: 5vh;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 0.5vh 2vw;
    user-select: none;
}

.active {
    filter: brightness(0.8);
}